# Mock Computing Paper
**Produce of Qian Yi.**<br>Find the instructions in the attached PDF file.<br>Not that deep, but good luck still.

<table>
<tr>
    <td>TOTAL MARKS</td><td>55</td>
</tr>
<tr>
    <td>DURATION</td><td>2 HOURS</td>
</tr>
</table>
<br>

<hr>

## TASK 1.1
To store each game entry in Python, implement the `Entry` class according to the UML diagram. **[8]**

In [ ]:
"""
This helper string may be convenient be you.
{"player_id":..., "player_name":..., "score":..., "timestamp":...}
"""

In [ ]:
def test_1_1():
    entry_1 = Entry("S-2025-002", "Drake", 690, "2025/09/02 12:00:00")
    entry_2 = Entry("S-2025-003", "Lamar", "690", "2025/08/31 23:59:59")
    entry_3 = Entry("S-2025-001", "Diddy", "abc", "2025/09/01 00:00:01")
    
    print(entry_2.output())
    # {'player_id': 'S-2025-003', 'player_name': 'Lamar', 'score': 690, 'timestamp': '2025/08/31 23:59:59'}

    print(entry_3)
    # Diddy (S-2025-001) - 0 @ 2025/09/01 00:00:01
    
    print(entry_3 < entry_1)    # True
    print(entry_2 < entry_1)    # True
    print(entry_1 < entry_1)    # False
    print(entry_2 < entry_3)    # False

# test_1_1()

<hr>

## TASK 1.2** (updated)

Implement `merge_sort(entries: list[Entry])` to sort a list of Entries by **Merge Sort**, such that it is in **descending order**. [3]

In [ ]:
def merge_sort(entries: list) -> list:
    ...

In [ ]:
def test_1_2():
    entries = [
        Entry("S-2025-001", "Alpha", 500, "2025/09/02 12:00:00"),
        Entry("S-2025-002", "Beta", 990, "2024/01/01 00:00:01"),
        Entry("S-2025-003", "Gamma", 1000, "2025/02/28 14:03:05"),
        Entry("S-2025-004", "Delta", 990, "2023/11/09 23:59:57"),
        Entry("S-2025-006", "Epsilon", "abc", "2025/06/07 06:07:42"),
        Entry("S-2025-007", "Zeta", 500, "2025/09/02 12:00:01"),
    ]

    # Gamma, Beta, Delta, Zeta, Alpha, Epsilon
    for entry in merge_sort(entries):
        print(entry.get_player_name(), end=", ")

test_1_2()

<hr>

## TASK 1.3
You are given `messy.csv`. Clean up the data, sort it then produce `clean.txt` per the specifications. **[8]**

In [ ]:
...

<hr>

## TASK 2.1
In Python, generate `tombzone.db` and the tables: `Player`, `Game`, `Entry`. The CREATE statements are to include checks, non-nulls, defaults, types and key references where appropriate. **[6]**

In [ ]:
import sqlite3
DB_FILE = "tombzone.db"

...

<hr>

## TASK 2.2

Populate the corresponding tables in `tombzone.db` with files `players.csv`, `games.csv` and `entries.csv`, taking note of duplicate entries. **[7]**

(Hint: To ignore duplicates, use INSERT OR IGNORE INTO)

In [ ]:
...

<hr>

## TASK 2.3

Implement `investigate(game_name: str, gender: str)` per the specifications. **[5]**

(Hint: To divide X by Y in SQL, you can do `(X*1.0)/Y` to cast X as a floating point to be divisible by Y. To round numbers in SQL, use `ROUND(number, decimal_places)`)

A snippet output for the first 2 entries of female players in “Clash Royole” is as follows:
| name | hp | timestamp | score_percentage |
| --- | --- | --- | --- |
| Zoey | 88385346 | 2025-09-03 16:25:00 | 0.3 |
| Ella O'Brien | 58488556 | 2025-09-01 16:05:00 | 0.15 |

In [ ]:
def investigate(game_name: str, gender: str):
    ...

In [ ]:
def test_2_3():
    print(" | name | hp | timestamp | score_percentage |")
    for row in investigate("Closh Royole", "F"):
        print("", *row, "", sep=" | ")

# test_2_3()

<hr>

Complete **Task 2.4** outside of this notebook with the relevant files parked under the `task_2_4/` folder.

**END OF PAPER.**